body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
}

h1 {
  margin: 0.5rem 0;
}

h3 {
  margin: 0;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mapboxgl-popup-content {
  padding: 10px;
  min-width: 150px;
}

.mapboxgl-popup-content h3 {
  margin: 0 0 6px 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #efefef;
}

.legend {
  background-color: #fff;
  border-radius: 3px;
  top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.legend-controls {
  /* display: flex; */
  /* flex-direction: column; */
  margin: 6px 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #efefef;
}

.legend h4 {
  margin: 0 0 10px;
}

.legend label {
  margin: 0 6px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
