{
  "extends": ["airbnb", "prettier"],
  "ignorePatterns": ["node_modules/"],
  "overrides": [
    {
      "files": ["server/**"],
      "rules": {
        "no-console": 0,
        "no-unused-vars": 0
      }
    }
  ]
}
